# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Python Files
.venv/
__pycache__/

# System Files
.DS_Store
Thumbs.db
.serverless
.dynamodb
package-lock.json